# UTF-8
#
# For more details about fixed file info 'ffi' see:
# http://msdn.microsoft.com/en-us/library/ms646997.aspx
VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(3, 0, 0, 0),
    prodvers=(3, 0, 0, 0),
    mask=0x3f,
    flags=0x0,
    OS=0x4,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
  ),
  kids=[
    StringFileInfo(
      [
        StringTable(
          u'040904B0',
          [StringStruct(u'CompanyName', u'VKSDR'),
          StringStruct(u'FileDescription', u'wavebin'),
          StringStruct(u'FileVersion', u'3.0'),
          StringStruct(u'InternalName', u'wavebin'),
          StringStruct(u'LegalCopyright', u''),
          StringStruct(u'OriginalFilename', u'wavebin.x86_64.exe'),
          StringStruct(u'ProductName', u'wavebin'),
          StringStruct(u'ProductVersion', u'3.0')])
    ]), 
    VarFileInfo([VarStruct(u'Translation', [1033, 1200])])
  ]
)
